
body{
    margin: 0;
    height: 100vh;
    background-color: #dfffff;
}
.first-page{
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    color: #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    background-color: #333;
    padding: 0.2em 1em;
    border-radius: 2px;
}
canvas.overlay{
    position: absolute;
}
.hide{display: none !important;}

/* second page */
.second-page{
    box-sizing: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* analysis page */
.analysis-page{
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#mychart{
    width: 100%;
}
.chart-container{
    width: 550px;
}

.summary .item{
    min-width: 30em;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}
.summary .item:nth-child(1){
    background-color: #37A2B8;
}
.summary .item:nth-child(2){
    background-color: #FDC131;
}
.summary .item:nth-child(3){
    background-color: #53A846;
}
.summary .item:nth-child(4){
    background-color: #DD4344;
}
.summary .item:nth-child(5){
    background-color: #0479FC;
}